<!-------------------------------------------------------------------------------------------------
  - #%L                                                                                           -
  - chvote-pact                                                                                   -
  - %%                                                                                            -
  - Copyright (C) 2016 - 2018 République et Canton de Genève                                      -
  - %%                                                                                            -
  - This program is free software: you can redistribute it and/or modify                          -
  - it under the terms of the GNU Affero General Public License as published by                   -
  - the Free Software Foundation, either version 3 of the License, or                             -
  - (at your option) any later version.                                                           -
  -                                                                                               -
  - This program is distributed in the hope that it will be useful,                               -
  - but WITHOUT ANY WARRANTY; without even the implied warranty of                                -
  - MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the                                  -
  - GNU General Public License for more details.                                                  -
  -                                                                                               -
  - You should have received a copy of the GNU Affero General Public License                      -
  - along with this program. If not, see <http://www.gnu.org/licenses/>.                          -
  - #L%                                                                                           -
  ------------------------------------------------------------------------------------------------->

<mat-card class="login-card">
  <form id="loginForm" (ngSubmit)="login(loginForm.value)" #loginForm="ngForm">
    <mat-form-field>
      <input matInput name="username" required ngModel #username="ngModel"
             placeholder="{{ 'login.fieldNames.username' | translate }}" >
      <mat-error *ngIf="username.hasError('required')">{{ 'login.required.username' | translate }}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" name="password" required ngModel #password="ngModel"
             placeholder="{{ 'login.fieldNames.password' | translate }}" >
      <mat-error *ngIf="password.hasError('required')">{{ 'login.required.password' | translate }}</mat-error>
    </mat-form-field>
    <button [disabled]="loginForm.invalid" type="submit" mat-raised-button color="primary">
      {{ ('login.submit' | translate) | uppercase }}
    </button>
  </form>
</mat-card>
