<!-------------------------------------------------------------------------------------------------
  - #%L                                                                                           -
  - chvote-pact                                                                                   -
  - %%                                                                                            -
  - Copyright (C) 2016 - 2018 République et Canton de Genève                                      -
  - %%                                                                                            -
  - This program is free software: you can redistribute it and/or modify                          -
  - it under the terms of the GNU Affero General Public License as published by                   -
  - the Free Software Foundation, either version 3 of the License, or                             -
  - (at your option) any later version.                                                           -
  -                                                                                               -
  - This program is distributed in the hope that it will be useful,                               -
  - but WITHOUT ANY WARRANTY; without even the implied warranty of                                -
  - MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the                                  -
  - GNU General Public License for more details.                                                  -
  -                                                                                               -
  - You should have received a copy of the GNU Affero General Public License                      -
  - along with this program. If not, see <http://www.gnu.org/licenses/>.                          -
  - #L%                                                                                           -
  ------------------------------------------------------------------------------------------------->

<mat-card class="action-detail" *ngIf="action">
  <mat-card-header class="action-detail-header">
    <mat-card-title>
      {{ action.operationName }} -
      {{'voting-materials-invalidation.detail.card.title' | translate}}
    </mat-card-title>
    <mat-card-subtitle>
      {{'voting-materials-invalidation.detail.card.subtitle' | translate}}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="action-detail-container">

    <pact-action-detail-row [labels]="['operationDate' ,'statusDate', 'ownerName']"
                            i18nLabel="voting-materials-invalidation" [action]="actionMetadata">
    </pact-action-detail-row>

    <pact-action-detail-accordion-row i18nLabel="voting-materials-invalidation.printer-stats"
                                      expansionClass="vmi-printer"
                                      i18nTitleLabel="title"
                                      titleLabel="printer"
                                      [actions]="votersCreationStatsMetaData"
                                      [descriptionLabels]="['testingCardCount', 'realCardCount']">
      <ng-template let-details="details">
        <div class="action-row action-detail-accordion-detail-row">
          <pact-printer-stats [stats]="details.stats.value">
          </pact-printer-stats>
        </div>
      </ng-template>
    </pact-action-detail-accordion-row>


    <pact-action-detail-submit-row i18nLabel="voting-materials-invalidation"
                                   [action]="action"
                                   (onCreateAction)="onCreateAction()"
                                   (onApprove)="onApproveAction()"
                                   (onReject)="onRejectAction($event)">
    </pact-action-detail-submit-row>
  </mat-card-content>
</mat-card>
